*{
    font-family: 'Fraunces', serif;
    color: red ;
}

#display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 20px 40px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#estrutura {
    display: flex;
    background-color: #fb8500;
    width: 500px;
    height: 500px;
    border: 2px solid #4a5759 ; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
   

}

#teclado {

display: grid;
justify-content: center;
align-items: center;
grid-template-columns: repeat(4, 1fr); /* 4 colunas com tamanhos iguais */
gap: 10px; /* Espaçamento entre os botões */

}
